.dogewand-popup {
  height: auto;
  -webkit-hyphens: manual;
  -moz-hyphens: manual;
  -ms-hyphens: manual;
  hyphens: manual;
  image-orientation: 0deg;
  image-rendering: auto;
  ime-mode: auto;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  left: auto;
  letter-spacing: normal;
  line-height: normal;
/*list-style:  the concatenation of the initial values of its longhand properties:list-style-image: nonelist-style-position: outsidelist-style-type: disclist-style-image: nonelist-style-image: none or the image with its URI made absolute;*/
  list-style-image: none;
  list-style-position: outside;
  list-style-type: disc;
/*margin:  the concatenation of the initial values of its longhand properties:margin-bottom: 0margin-left: 0margin-right: 0margin-top: 0margin-bottom: 0margin-bottom: the percentage as specified or the absolute length;*/
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  marks: none;
  mask-type: luminance;
  max-height: none;
  max-width: none;
  min-height: 0;
  min-width: 0;
  opacity: 1;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  orphans: 2;
/*outline:  the concatenation of the initial values of its longhand properties:outline-color: is itself a shorthand, its initial value is the concatenation of its own longhand propertiesoutline-width: is itself a shorthand, its initial value is the concatenation of its own longhand propertiesoutline-style: is itself a shorthand, its initial value is the concatenation of its own longhand propertiesoutline-color: is itself a shorthand, its initial value is the concatenation of its own longhand propertiesoutline-color: For the keyword invert, the computed value is invert. For the color value, if the value is translucent, the computed value will be the rgba() corresponding one. If it isn't, it will be the rgb() corresponding one. The transparent keyword maps to rgb(0,0,0).outline-color: yes, as a color;*/
/*outline-color:  invert, for browsers supporting it, currentColor for the other;*/
  outline-offset: 0;
  outline-style: none;
  outline-width: medium;
  overflow: visible;
  overflow-x: visible;
  overflow-y: visible;
/*padding:  the concatenation of the initial values of its longhand properties:padding-bottom: is itself a shorthand, its initial value is the concatenation of its own longhand propertiespadding-left: is itself a shorthand, its initial value is the concatenation of its own longhand propertiespadding-right: is itself a shorthand, its initial value is the concatenation of its own longhand propertiespadding-top: is itself a shorthand, its initial value is the concatenation of its own longhand propertiespadding-bottom: is itself a shorthand, its initial value is the concatenation of its own longhand propertiespadding-bottom: the percentage as specified or the absolute length;*/
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  page-break-after: auto;
  page-break-before: auto;
  page-break-inside: auto;
  -webkit-perspective: none;
  -ms-perspective: none;
  perspective: none;
  -webkit-perspective-origin: 50% 50%;
  -ms-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
  pointer-events: auto;
  position: static;
  quotes: user agent specific;
  resize: none;
  right: auto;
  -moz-tab-size: 8;
  -o-tab-size: 8;
  tab-size: 8;
  table-layout: auto;
/*text-align:  start, or a nameless value that acts as left if direction is ltr, right if direction is rtl if start is not supported by the browser.;*/
  text-align-last: auto;
/*text-decoration:  the concatenation of the initial values of its longhand properties:text-decoration-color: currentColortext-decoration-style: solidtext-decoration-line: nonetext-decoration-color: currentColortext-decoration-line: as specifiedtext-decoration-color: yes, as a color;*/
  text-decoration-color: currentColor;
  text-decoration-line: none;
  text-decoration-style: solid;
  text-indent: 0;
  text-overflow: clip;
  text-rendering: auto;
  text-shadow: none;
  text-transform: none;
  text-underline-position: auto;
  top: auto;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transform-origin: 50% 50% 0;
  -ms-transform-origin: 50% 50% 0;
  transform-origin: 50% 50% 0;
  -webkit-transform-style: flat;
  -ms-transform-style: flat;
  transform-style: flat;
/*transition:  the concatenation of the initial values of its longhand properties:transition-delay: 0stransition-duration: 0stransition-property: alltransition-timing-function: easetransition-delay: 0s;*/
  -webkit-transition-delay: 0s;
/*transition:  the concatenation of the initial values of its longhand properties:transition-delay: 0stransition-duration: 0stransition-property: alltransition-timing-function: easetransition-delay: 0s;*/
  transition-delay: 0s;
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  unicode-bidi: normal;
  vertical-align: baseline;
  visibility: visible;
  white-space: normal;
  widows: 2;
  width: auto;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  z-index: auto;
}