head
body
  |<a class="profileLink" href="https://www.facebook.com/jamie.schwettmann" data-ft="{&quot;tn&quot;:&quot;l&quot;}" data-hovercard="/ajax/hovercard/user.php?id=100000469584188" aria-owns="js_2" aria-haspopup="true" id="js_3">Jamie Schwettmann</a>
  script(src='#{url}/js/app.js')