doctype html
html(lang="en")
  head
    title Dogewand
    link(rel="stylesheet" href="/dist/iframe.css")
    | <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    | <link href="/comicsans/stylesheet.css" rel="stylesheet">
  body
    #app
      .toolbar(v-class="maximized: maximized")
        div.btn.btn-default(v-on="click: destroy")
          i.fa.fa-times
        div.btn-group.dropup(v-component="bs-dropdown" v-with="show: dropdown" class="{{show ? 'open' : ''}}")
          button.btn.btn-default.dropdown-toggle(v-on="click: show = !show")
            i.fa.fa-bars
          ul.dropdown-menu
            li
              a(href="#" v-on="click: currentModal = 'withdraw-modal'") Withdraw
            li
              a(href="#" v-on="click: currentModal = 'profile-modal'") Profile
            li
              a(href="#" v-on="click: currentModal = 'deposit-modal'") Deposit
            li
              a(href="#" v-on="click: logOut") Log Out
        div.btn.balance-screen(v-on="click: getBalance") <span class="currency-mark">Ð</span>&nbsp;{{user.balance}}
        div.btn.btn-default.btn-wand(v-on="click: tipping()") Give!
      div(v-view="currentModal" v-ref="modal" v-with="show: currentModal")
      div.modal-backdrop.in(v-if="currentModal" v-on='click: currentModal = false')
      div.modal-backdrop.dropdown-backdrop(v-if="dropdown" v-on='click: dropdown = false')



    script#bs-modal(type="x-template")
      .modal(v-only="click: show = false")
        .modal-dialog.modal-md
          .modal-content
            content(select=".modal-body")



    script#update-modal(type="x-template")
      bs-modal
        .modal-body
          p There's a new version of Dogewand! Delete your old bookmarklet and drag this new one to your bookmarks bar.
          p
            a(alt="Dogewand V#{version}" href="javascript:#{bookmarklet}" class="bookmarklet" onclick="alert('Drag me to the bookmarks bar')" title="Drag me to the bookmarks bar") Dogewand V#{version}


    script#provider-login-modal(type="x-template")
      bs-modal
        .modal-body
          p Please log in to {{page.provider}} to use Dogewand.


    script#switch-or-merge-modal(type="x-template")
      bs-modal
        .modal-body
          p You're signed into Dogewand as {{user.user_id}}.
          p
            |{{page.display_name}} on {{page.provider}} is linked to a different Dogewand account.
            | To switch accounts:
          p
            a.btn.btn-lg(class="btn-{{page.provider}}" href="/auth/{{page.provider}}?redirect_to={{page.href}}" target="blank") Sign in with {{page.provider}}
          p
            |To merge accounts, head to your&nbsp;
            a(href="/profile/" target="blank") profile

    script#add-provider-modal(type="x-template")
      bs-modal
        .modal-body
          p You're signed into Dogewand as {{user.user_id}}.
          p Would you like to link {{user.user_id}} to {{page.provider}}?
          a.btn.btn-lg(class="btn-{{page.provider}}" href="/auth/{{page.provider}}?redirect_to={{page.href}}" target="blank") Link with {{page.provider}}

    //- script#username-modal(type="x-template")
    //-   bs-modal
    //-     .modal-body
    //-       p Please choose a username. {{new_username}}{{username_taken}}
    //-       p
    //-         input.form-control.inline-control(type="text" v-model="new_username" v-class="valid: available, invalid: unavailable" placeholder="username")
    //-         div.btn.btn-default(v-on="click: setUsername()") Submit



    script#login-modal(type="x-template")
      bs-modal
        .modal-body
          p Sign into Dogewand as {{page.display_name}} on {{page.provider}}.
          a.btn.btn-lg(class="btn-{{page.provider}}" href="/auth/{{page.provider}}?redirect_to={{page.href}}" target="blank") Sign in with {{page.provider}}

    script#new-or-link-modal(type="x-template")
      bs-modal
        .modal-body
          p Create a new Dogewand account with {{page.provider}}.
          hr
          p Or, link {{page.provider}} to an existing Dogewand account.
          p
            input.form-control.inline-control(type="text" v-model="amount" placeholder="username")


    script#deposit-modal(type="x-template")
      bs-modal
        .modal-body
          p Here is your deposit address.
          p <span class="accent-text">{{address}}</span>

    script#error-modal(type="x-template")
      bs-modal
        .modal-body
          p {{message}}

    //- script#account-link-modal(type="x-template")
    //-   bs-modal
    //-     .modal-body
    //-       p Would you like to link your {{provider}} to dogewand account # {{user.user_id}}? (also linked to&nbsp;
    //-         span(v-repeat="user.accounts")
    //-           span {{display_name}} on {{provider}},&nbsp;
    //-         |)
    //-       hr
    //-       div
    //-         a.btn.btn-lg(class="btn-{{page.provider}}" href="/auth/{{page.provider}}/?merge=true" target="blank") Sign in with {{provider}}


    script#withdraw-modal(type="x-template")
      bs-modal
        .modal-body
          p Withdraw
          p
            input.form-control.inline-control(type="number" v-model="amount" placeholder="so many")
            | &nbsp;dogecoins
          p To:
          p
            input.form-control(type="text" v-model="address" placeholder="your dogecoin address")
          hr.invis
          button.btn.btn-lg.btn-primary(type='button' v-on="click: submit") Withdraw!

    script#confirm-tip-modal(type="x-template")
      bs-modal
        .modal-body
          p You gave <span class="accent-text">{{tippee.display_name}}</span> on <span class="accent-text">{{tippee.provider}}</span>
          p {{amount}} dogecoins
          p They can redeem their dogecoins here:
          p
            a(href="{{url}}/tips/{{amount}}doge-{{tip_id}}" target="blank") {{url}}/tips/{{amount}}doge-{{tip_id}}

    script#confirm-withdraw-modal(type="x-template")
      bs-modal
        .modal-body
          p You withdrew <span class="accent-text">{{amount}}</span> dogecoins
          p to <span class="accent-text">{{address}}</span>

    script#create-tip-modal(type="x-template")
      bs-modal
        .modal-body
          p Give <span class="accent-text">{{display_name}}</span> on <span class="accent-text">{{provider}}</span>
          p
            input.form-control.inline-control(type="number" v-model="amount" placeholder="so many")
            | &nbsp;dogecoins
          hr.hr-invis
          button.btn.btn-lg.btn-primary(type='button' v-on="click: submit") Give!

    script#profile-modal(type="x-template")
      bs-modal
        .modal-body
          p Dogewand is currently linked to:
          ul.linked-accounts(v-repeat="user.accounts")
            li.account-tab
              div {{display_name}}
              div on {{provider}}
          hr
          span(v-if="!page.siblings")
            p Link with {{page.display_name}} on {{page.provider}}.
            a.btn.btn-lg(class="btn-{{page.provider}}" href="/auth/{{page.provider}}?redirect_to={{page.href}}" target="blank") Sign in with {{page.provider}}

          span(v-if="page.siblings")
            p Merge with {{page.display_name}} on {{page.provider}} and {{page.siblings}} linked accounts.
            a.btn.btn-lg(class="btn-{{page.provider}}" href="/auth/{{page.provider}}?redirect_to={{page.href}}" target="blank") Sign in with {{page.provider}}

    script(src="/dist/iframe.js")

