doctype html
html
  head
    title DogeWand
    link(rel="stylesheet" href="../iframe.css")
    | <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    | <link href="/comicsans/stylesheet.css" rel="stylesheet">
  body
    block content
