form#tipper-form(action="#{url}", method="POST")
  input(type='hidden', name='_csrf', value="#{token}")

  label
    |To
    input(type="text", value=" #{to_user}")

  label
    |Amount
    input(type="number")

  button(type="submit") Submit

script.
  window.addEventListener('message', function(e) {
    var message = e.data;
    if (message === 'submit') {
    }
  });

  var form = getElementById('tipper-form');
  form.submit(function(){
      alert('foo')
      parent.postMessage('close', '*');
  });