extend ../layout

block content
  .toolbar.js-toolbar
    button.btn.js-tip Tip
    .screen #{user.balance}
    button.btn.js-options Options
    button.btn.js-deposit Deposit
    button.btn.js-withdraw Withdraw
    button.btn.js-exit Exit
