@import 'bootstrap/bootstrap';

.wow {
  color: #00f;
  width: 100px;
}

.toolbar {
  position: absolute;
  bottom: 0;
  left: 0;
}

// .toolbar {
//   text-wrap: nowrap;
// }

input:focus, button:focus {
  outline: none !important;
}

#app {
  display: inline-block;
  background: rgba(0,255,0,.5)
}

.modal {
  display: block;
}

.btn {
  opacity: 0.5;
}

.nav,
.pagination,
.carousel,
.panel-title a,
button {
  cursor: pointer;
}
