@import './total-reset.styl'

.dgw-dogewand
  font-family sans-serif
  .dgw-toolbar
    position fixed
    top 0
    right 0
    z-index 999999999
    background #4A4A4A

  .dgw-btn
    height 50px
    display inline-block



.dgw-wand
  *
    cursor url('/assets/images/wand.png'), auto

.dgw-link
  cursor url('/assets/images/wand_active.png'), auto !important
  display inline-block
  position relative

  padding 10px
  margin -10px

  padding-top 15px
  margin-top -15px

.dgw-modal-body
  position absolute
  top 25%
  margin-left auto
  margin-right auto
  height 300px
  width 300px
  background black


  // <a class="profileLink" href="https://www.facebook.com/jamie.schwettmann" data-ft="{&quot;tn&quot;:&quot;l&quot;}" data-hovercard="/ajax/hovercard/user.php?id=100000469584188" aria-owns="js_2" aria-haspopup="true" id="js_3">Jamie Schwettmann</a>

  // <a href="https://www.facebook.com/dlofredo" data-hovercard="/ajax/hovercard/user.php?id=692931006" aria-owns="js_2" aria-haspopup="true" id="js_3">Dartañan Bara Lofredo</a>