extend ../shared/layout

block content
  .Demo
    .Media
      img.Media-figure.Image(src="//philipwalton.github.io/solved-by-flexbox/images/kitten.jpg", alt="Kitten")
      .Media-body
        .Media-comment
          .Media-username Kabuso
          | Such shake, many speare. Much favorite:
          .Media-quote
            | What light. So breaks. Such east. Very sun. Wow, Juliet.
            | What Romeo. Such why. Very rose. Still rose.
            | Very balcony. Such climb.
            | Much love. So Propose. Wow, marriage.
            | Very Tybalt. Much stab. What do?
            | Such exile. Very Mantua. Much sad.
            | So, priest? Much sleeping. Wow, tomb.
            | Such poison. What dagger. Very dead. Wow, end.
        .Demo.u-smaller
          .Media
            .Media-figure
              img.Image.Image--tiny(src="//philipwalton.github.io/solved-by-flexbox/images/kitten.jpg", alt="Kitten")
            .Media-body
              .Media-username Doge Di Venizia
              textarea.Demo-form-control.form-control(placeholder="Such comment...")
