@import './total-reset.styl'

.dgw-dogewand
  font-family sans-serif
  .dgw-toolbar
    position fixed
    top 0
    right 0
    z-index 999999999
    background #4A4A4A

  .dgw-btn
    height 50px
    display inline-block



.dgw-wand
  cursor n-resize !important
  background blue
