doctype html
html(lang="en")
  head
    title DogeWand
    link(rel="stylesheet" href="../iframe/iframe.css")
    | <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    | <link href="/comicsans/stylesheet.css" rel="stylesheet">
  body
    #app
      .toolbar(v-class="maximized: maximized")
        div.btn.btn-default
          i.fa.fa-times
        div.btn-group.dropup(v-component="bs-dropdown" class="{{show ? 'open' : ''}}")
          button.btn.btn-default.dropdown-toggle(v-on="click: show = !show")
            i.fa.fa-bars
          ul.dropdown-menu
            li
              a(href="#") Withdraw
            li
              a(href="#") Deposit
            li
              a(href="#") Log Out
        div.btn.balance-screen <span class="currency-mark">Ð</span>&nbsp;{{user.balance}}
        div.btn.btn-default.btn-wand(v-on="click: tipping()") Give!
      div(v-view="currentModal" v-ref="modal" v-with="show: currentModal")
      div.modal-backdrop.in(v-if="currentModal" v-on='click: currentModal = false')

    script#update-modal(type="x-template")
      bs-modal
        .modal-body
          p Update yo shit

    script#login-modal(type="x-template")
      bs-modal
        .modal-body
          p Please log in.

    script#error-modal(type="x-template")
      bs-modal
        .modal-body
          p {{message}}

    script#confirm-tip-modal(type="x-template")
      bs-modal
        .modal-body
          p You gave {{tippee.name}} on {{tippee.provider}}
          p {{amount}} dogecoins
          p They can redeem their dogecoins here: {{id}}

    script#create-tip-modal(type="x-template")
      bs-modal
        .modal-body
          p Give {{name}} on {{provider}}
          p
            input.form-control.inline-control(type="number" v-model="amount")
            | &nbsp;dogecoins
          hr.invis
          button.btn.btn-lg.btn-primary(type='button' v-on="click: submit") Give!


    script#bs-modal(type="x-template")
      .modal(v-only="click: show = false")
        .modal-dialog.modal-md
          .modal-content
            content(select=".modal-body")


    script(src="../iframe/iframe.js")

