doctype html
html(lang="en")
  head
    title DogeWand
    link(rel="stylesheet" href="../css/iframe.css")
  body
    #app
      .toolbar(v-class="maximized: maximized")
        nav.menu
          button.btn.btn-primary Close
          div.btn-group.dropup(v-component="bs-dropdown" class="{{show ? 'open' : ''}}")
            button.btn.btn-primary.dropdown-toggle(v-on="click: show = !show") Options <span class="caret"></span>
            ul.dropdown-menu
              li
                a(href="#") Withdraw
              li
                a(href="#") Deposit
              li
                a(href="#") Log Out
          button.btn.btn-primary(v-on="click: tipping()") Much Tip!
      div(v-view="currentModal" v-ref="modal" v-with="show: currentModal")
      div.modal-backdrop.in(v-if="currentModal" v-on='click: currentModal = false')

    script#update-modal(type="x-template")
      bs-modal
        h4.modal-title Wow, such update!
        .modal-body
          p Update yo shit

    script#login-modal(type="x-template")
      bs-modal
        h4.modal-title Wow!
        .modal-body
          p Please log in.

    script#error-modal(type="x-template")
      bs-modal
        h4.modal-title Oh noes!
        .modal-body
          p {{message}}

    script#confirm-tip-modal(type="x-template")
      bs-modal
        h4.modal-title Wow, such generos!
        .modal-body
          p You gave {{tippee.name}} on {{tippee.provider}}
          p {{amount}} dogecoins
          p They can redeem their dogecoins here: {{id}}

    script#create-tip-modal(type="x-template")
      bs-modal
        h4.modal-title Wow, such generos!
        .modal-body
          p Give {{name}} on {{provider}}
          p
            input(type="number" v-model="amount")
            | &nbsp;dogecoins
        .modal-footer
          button.btn.btn-default(type='button' v-on="click: show = false") Cancel
          button.btn.btn-primary(type='button' v-on="click: submit") Ok


    script#bs-modal(type="x-template")
      .modal(v-only="click: show = false")
        .modal-dialog
          .modal-content
            .modal-header
              button.close(type='button', v-on="click: show = false", aria-hidden='true') ×
              content(select="h4.modal-title")
            content(select=".modal-body")
            content(select=".modal-footer")




    script(src="../js/iframe.js")

