doctype html
html(lang="en")
  head
    title DogeWand
    link(rel="stylesheet" href="../css/iframe.css")
  body
    #app
      .toolbar(v-class="maximized: maximized")
        nav.menu
          button.btn.btn-primary Close
          div.btn-group.dropup(v-component="bs-dropdown" class="{{show ? 'open' : ''}}")
            button.btn.btn-primary.dropdown-toggle(v-on="click: show = !show") Options <span class="caret"></span>
            ul.dropdown-menu
              li
                a(href="#") Withdraw
              li
                a(href="#") Deposit
              li
                a(href="#") Log Out
          button.btn.btn-primary(v-on="click: sir_modal = !sir_modal") Much Tip!

      bs-modal(v-with="show: sir_modal")
        p Hello sir {{show}}

      //- div.modal-backdrop.in(v-if="maximized" style="z-index:0;opacity:0;")

    script#bs-modal(type="x-template")
      .modal(v-show="show" v-only="click: show = !show")
        .modal-dialog
          .modal-content
            .modal-header
              button.close(type='button', v-on="click: show = !show", aria-hidden='true') ×
              h4.modal-title {{modal-title}}
            .modal-body
              content

            content(select=".modal-footer")
              .modal-footer
                button.btn.btn-default(type='button') Cancel
                button.btn.btn-primary(type='button') Ok

      div.modal-backdrop.in(v-if="show" v-on='click: show = false')


    script(src="../js/iframe.js")

