doctype html
html(lang='en', data-ng-app='dogewand')
  head
    title DogeWand
      link(rel='stylesheet', href='../css/iframe.css')
  body(data-ng-controller='iframe')
    .container
      nav.menu(data-ng-controller='menu')
        button(data-ng-click='close()') Close
        button(data-ng-click='toggleModal()') Open
    modal(show='modal.show', width='auto', height='60%')
    script(src='../js/iframe.js')
