doctype html
html(lang="en")
  head
    title DogeWand
    link(rel="stylesheet" href="../css/iframe.css")
  body
    #app
      .toolbar(v-class="maximized: maximized")
        nav.menu
          button.btn.btn-primary Close
          div.btn-group.dropup(v-component="bs-dropdown" class="{{show ? 'open' : ''}}")
            button.btn.btn-primary.dropdown-toggle(v-on="click: show = !show") Options <span class="caret"></span>
            ul.dropdown-menu
              li
                a(href="#") Withdraw
              li
                a(href="#") Deposit
              li
                a(href="#") Log Out
          button.btn.btn-primary(v-on="click: tipping = true") Much Tip!

      bs-modal(v-ref="update_modal")
        h4.modal-title Wow, such update!
        .modal-body
          p Update yo shit
        .modal-footer
          button.btn.btn-default(type='button') Cancel
          button.btn.btn-primary(type='button') Ok

      bs-modal(v-ref="create_tip_modal")
        h4.modal-title Wow, such generos!
        .modal-body
          p Give {{username}} on {{provider}}
          p
            input(type="number" v-model="amount")
            | dogecoins
        .modal-footer
          button.btn.btn-default(type='button') Cancel
          button.btn.btn-primary(type='button') Ok

    script#bs-modal(type="x-template")
      .modal(v-show="show" v-only="click: show = !show")
        .modal-dialog
          .modal-content
            .modal-header
              button.close(type='button', v-on="click: show = !show", aria-hidden='true') ×
              content(select="h4.modal-title")
            content(select=".modal-body")
            content(select=".modal-footer")

      div.modal-backdrop.in(v-if="show" v-on='click: show = false')


    script(src="../js/iframe.js")

