extend modal

block message
  p Deposit dogecoins to #{address}. They should show up in your account after a while. This is a one time use address.
  p No online wallet is secure. Don't store a lot of dogecoins on here, or on any other site.
  p Learn how to hold on to your own coins:
  ul
    li links
    li etc...